.comp-switch {
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: #bfbfbf;
  animation: 0.8s ease 1 fade-blue;
}

.checked-background {
  background-color: #5491f7;
  animation: 0.8s ease 1 fade-grey;
}

.toggle-button {
  position: relative;
  width: 18px;
  height: 18px;
  top: 20px;
  border-radius: 10px;
  background-color: white;
}

.checked-button {
  left: 20px;
  animation: 0.5s ease-in 1 slide-right;
}

.unchecked-button {
  left: 2px;
  animation: 0.5s ease-in 1 slide-left;
}

@keyframes slide-right {
  from {
    left: 2px;
  }

  to {
    left: 20px;
  }
}

@keyframes slide-left {
  from {
    left: 20px;
  }

  to {
    left: 2px;
  }
}

@keyframes fade-grey {
  0% {
    background-color: #bfbfbf;
  }

  100% {
    background-color: #5491f7;
  }
}

@keyframes fade-blue {
  0% {
    background-color: #5491f7;
  }

  100% {
    background-color: #bfbfbf;
  }
}
